.redcolor{
      color: red;
}
.blackcolor{
      color: black;
}
.aquacolor{
      color: aqua;
}
.orangecolor{
      color: orange;
}
.pinkcolor{
      color: pink;
}
.button {
      background-color: #ddd;
      border: none;
      color: black;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      transition: 0.3s;
}
    
.button:hover {
      background-color: seagreen;
      color: white;
}
.greencolor{
      color:green;
}
.fonts{
      font-size: 80px;
     
}